# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Database
*.db

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json

# Coverage
coverage/

# Build
dist/
build/